.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  text-transform: uppercase;
  padding: 2% 15% 2%;
  background-color: transparent;
  transition: 0.8s;
  color: white;
  /* box-shadow: 0 0 10px #eee; */
}

.nav.active {
  background: black;
  border-radius: 0px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  padding: 2% 10% 2%;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
}

.active {
  background-image: linear-gradient(
    to right,
    #014a6a 0%,
    #048c9c 51%,
    #00627d 100%
  );

  text-align: center;
  text-decoration: none;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}
.active:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  align-items: center;
}

li {
  cursor: pointer;
  letter-spacing: 0.3px;
}
.leftnav {
  margin-left: auto;
}
li:hover {
  color: #028ea7;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 620px) {
  .wrapper {
    text-align: center;
    font-size: 10px;
    padding: 2% 5% 2%;
  }

  .nav {
    text-transform: none;
    height: 90px;
  }

  .nav__container__actions {
    display: block;
    padding-left: 0;
    margin-top: 5px;
  }
  li {
    margin-top: 5px;
    letter-spacing: 0px;
    display: block;
  }

  .navList {
    gap: 0.5rem;
  }
  .list {
    padding-left: auto;
  }
  .leftnav {
    margin: auto;
  }
}
