@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Oxygen, sans-serif;
}
.wrapper {
  text-align: center;
  padding: 5rem 10rem 5rem 10rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
}
.card {
  margin: 2rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card__image {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #d50000;
  background: transparent;
  color: #d50000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
  transform: scale(1.02);
}
.card:hover .card__btn {
  background: #d50000;
  color: white;
}
