.actions li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    font-size: 1.2em;
}

.tech {
    color: black;
    margin-bottom: 20px;
    font-size: 22px;
}

.hide {
    display: none;
}

.medium {
    margin: 5px 15px 5px 15px;
    font-size: 3rem;
    line-height: 2rem;
    transition: transform 200ms ease-in;
}

.medium:hover {
    transform: scale(1.2);
}

.mySpan:hover+.hide {
    display: block;
    color: red;
}

.TechCard {
    margin: auto;
      margin-bottom: 2rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0px 0px #e1e5ee;
    border-radius: 0.2rem;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.TechCard:hover {
    transform: scale(1.1);
}

.p-3 {
    padding: 1rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}
.techStackImage{
  height: 350px;
}
