body {
}

h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid {
  text-align: center;
  --bs-gutter-x: 0rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.wrapper {
  text-align: center;
  padding: 2% 15% 7%;
  display: grid;
  gap: 2rem;
  justify-content: center;
}

.title-button {
  margin: 7% 3% 5% 3%;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.features {
  text-align: center;
  padding: 5%;
}
